<!DOCTYPE html>
<html>
  <head>
    <title>Our Story</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      .navbar {
        background-color: #00d1b2;
      }
      .navbar-item {
        color: white;
      }
      h1 {
        color: #00d1b2;
        font-family: "Dancing Script", cursive;
        font-weight: bolder;
        font-size: 40px;
      }
      h2 {
        font-family: "Dancing Script", cursive;
        margin-top: 40px;
        font-size: 40px;
        font-weight: bolder;
      }
    </style>
  </head>
  <body>
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a href="{{ url_for('main.index') }}" class="navbar-item">
                Home
              </a>
              <a href="{{ url_for('main.jobs_posted') }}" class="navbar-item">
                Jobs Posted
              </a>
              <a href="{{ url_for('main.jobs_applied') }}" class="navbar-item">
                Jobs Applied
              </a>
              <a href="{{ url_for('main.profile') }}" class="navbar-item">
                Profile
              </a>
              <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                Logout
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero">
      <img
        class="heroimage"
        src="../static/images/towfiqu-barbhuiya-ho-p7qLBewk-unsplash.jpg"
        alt=""
      />
    </div>
    <section class="info">
      <div class="heading">
        <h1>About Us</h1>
      </div>
      <div class="info-container">
        <div class="content">
          <h2>Welcome to FindMe</h2>
          <p>
            Welcome to Findme, a pioneering initiative born out of a commitment
            to empower Kenyan freelancers and businesses in the digital age.
            Recognizing the challenges faced by local freelancers in securing
            opportunities within their community, we set out on a mission to
            bridge the gap through innovation and inclusivity.
          </p>
          <p>
            At Findme, our primary objective is to revolutionize the freelance
            landscape in Kenya by developing a cutting-edge web app. This
            platform serves as a dynamic marketplace, bringing together talented
            freelancers and businesses seeking their expertise. We envision a
            community that celebrates diversity, where individual strengths,
            skills and proficiency across various fields are not only
            acknowledged but also amplified.
          </p>
        </div>
      </div>
      <div class="heading">
        <h1>Founders</h1>
      </div>
      <div class="founders">
        <div class="Eric">
          <img src="../static/images/Eric.jpg" width="30" />
          <h2>Eric Wambugu</h2>
          <li><a href="https://github.com/DevWambugu">github</a></li>
          <li><a href="https://x.com/DevWambugu">X</a></li>
        </div>
        <div class="Joshua">
          <img src="../static/images/Joshua.jpg" width="30" />
          <h2>Joshua Onsomu</h2>
          <li><a href="https://github.com/OnsomuJosh">github</a></li>
          <li><a href="https://x.com/onsomujosh">X</a></li>
        </div>
      </div>
    </section>

    <hr style="margin: 30px 0" />
    <div class="footer">
      <div class="btn">
        <div class="icon">
          <i href="facebook.com" class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <span>Facebook</span>
      </div>
      <div class="btn">
        <div class="icon">
          <i href="x.com" class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <span>X</span>
      </div>
      <div class="btn">
        <div class="icon">
          <i
            href="instagram.com"
            class="fa fa-instagram"
            aria-hidden="true"
          ></i>
        </div>
        <span>Instagram</span>
      </div>
      <div class="btn">
        <div class="icon">
          <i href="youtube.com" class="fa fa-youtube" aria-hidden="true"></i>
        </div>
        <span>Youtube</span>
      </div>
    </div>
  </body>
</html>
