<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jobs Applied</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<style>
    .container.has-text-left {
        position: absolute;
        top: 100px;
        left: 50px;
    }
</style>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            <a href="{{ url_for('main.jobs_posted') }}" class="navbar-item">
                                Jobs Posted
                            </a>
                            <a href="{{ url_for('main.jobs_applied') }}" class="navbar-item">
                                Jobs Applied
                            </a>
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                Profile
                            </a>
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="container has-text-left">
            {% block content %}
            <h1>Jobs Applied</h1>

            <h2>Applied Jobs:</h2>
            <ul>
                {% for job in applied_jobs_applied %}
                    <li>{{ job.title }}</li>
                {% endfor %}
            </ul>

            <h2>Declined Jobs:</h2>
            <ul>
                {% for job in applied_jobs_declined %}
                    <li>{{ job.title }}</li>
                {% endfor %}
            </ul>
            {% endblock %}
        </div>
    </body>
    </HTML>
