<!DOCTYPE html>
<html>
  <head>
    <title>RegistrationForm</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css" />
    <style>
      body {
        background-color: rgb(140, 230, 216, 0.4);
      }
    </style>
  </head>
  <body>
    <div class="registration-page">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <img
              class="leftimage"
              src="../static/images/registration.jpg"
              width="50%"
            />
          </div>
          <div class="col-2">
            <div class="form-container">
              <div class="form-button">
                <span onclick="login()">Login</span>
                <span onclick="register()">Register</span>
                <hr id="indicator" />
              </div>
              <form id="LoginForm" method="post" action="/userLogin">
                <input type="text" placeholder="UserName" />
                <input type="password" placeholder="Password" />
                <button type="submit" class="button">Login</button>
                <a href="forgot_password">Forgot Password</a>
              </form>
              <form
                id="Registration-Form"
                method="post"
                action="/registration.html"
              >
                <input type="text" name="username" placeholder="UserName" />
                <input type="text" name="contact" placeholder="Contact" />
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button type="submit" class="button">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin: 30px 0" />
    <div class="footer">
      <div class="btn">
        <div class="icon">
          <i href="facebook.com" class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <span>Facebook</span>
      </div>
      <div class="btn">
        <div class="icon">
          <i href="x.com" class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <span>X</span>
      </div>
      <div class="btn">
        <div class="icon">
          <i
            href="instagram.com"
            class="fa fa-instagram"
            aria-hidden="true"
          ></i>
        </div>
        <span>Instagram</span>
      </div>
      <div class="btn">
        <div class="icon">
          <i href="youtube.com" class="fa fa-youtube" aria-hidden="true"></i>
        </div>
        <span>Youtube</span>
      </div>
    </div>
    <!----------------------------------------Js for the form------------------------------------------------->
    <script>
      var LoginForm = document.getElementById("LoginForm");
      var RegistrationForm = document.getElementById("Registration-Form");
      var Indicator = document.getElementById("indicator");
      function register() {
        RegistrationForm.style.transform = "translateX(0px)";
        LoginForm.style.transform = "translateX(0px)";
        Indicator.style.transform = "translateX(100px)";
      }
      function login() {
        RegistrationForm.style.transform = "translateX(300px)";
        LoginForm.style.transform = "translateX(300px)";
        Indicator.style.transform = "translateX(0px)";
      }
    </script>
  </body>
</html>
